# Environment
.env
.env.*

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# Backend
backend/target/
backend/build/
*.jar
*.war

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Security
*.pem
*.key

#backend
BE/