REACT_APP_API_URL=http://localhost:8080/api
REACT_APP_DEMO_MODE=false
REACT_APP_ADAFRUIT_URL=https://io.adafruit.com/api/v2
REACT_APP_ADAFRUIT_USERNAME=your_username
REACT_APP_ADAFRUIT_KEY=your_aio_key
